/DominioCCMA/dist/
/DominioCCMA/build/
/DatosCCMA/build/
/DatosCCMA/dist/
/Logica/AdministrarPresupuesto/nbproject/private/
/Logica/AdministrarCliente/nbproject/private/
/Logica/AdministrarVenta/nbproject/private/
/Logica/AdministrarProducto/nbproject/private/
/Logica/Inventario/nbproject/private/
/Logica/LogicaNegocio/nbproject/private/
/Logica/AdministrarVenta/build/
/Logica/AdministrarEmpleado/nbproject/private/
/Logica/AdministrarEmpleado/build/
/Logica/AdministrarEmpleado/dist/
/Logica/LogicaNegocio/dist/
/Logica/LogicaNegocio/build/
/Logica/AdministrarCliente/build/
/Logica/AdministrarCliente/dist/
/Logica/AdministrarVenta/dist/
/Logica/AdministrarProducto/build/
/Logica/AdministrarProducto/dist/
/Logica/AdministrarPresupuesto/build/
/Logica/AdministrarPresupuesto/dist/
/Logica/Inventario/build/
/Logica/Inventario/dist/
