/DominioCCMA/dist/
/DominioCCMA/build/
/DatosCCMA/build/
/DatosCCMA/dist/
/Logica/AdministrarPresupuesto/nbproject/private/
/Logica/AdministrarCliente/nbproject/private/
/Logica/AdministrarVenta/nbproject/private/
/Logica/AdministrarProducto/nbproject/private/
/Logica/Inventario/nbproject/private/
/Logica/LogicaNegocio/nbproject/private/